@import node_modules/@glidejs/glide/src/assets/sass/glide.core
@import node_modules/@glidejs/glide/src/assets/sass/glide.theme
@import includes/variables.sass

html
	font-family: 'Helvetica Neue' !important

.navbar
	background: rgba(0, 0, 0, 0.8)

.navbar-brand
	img
		width: 80px
		@include min($sm)
			width: 150px

.navbar-collapse
	transition: height .3s ease-out

.title
	position: relative
	padding-top: 300px
	background: url('../images/cam.jpg') no-repeat 50% 50%
	background-size: cover
	@include max($sm)
		padding-top: 200px
	&__filter
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		background: #000
		opacity: .7
	&__main
		margin-bottom: 150px
		@include max($sm)
			margin-bottom: 100px
	&__content h1
		max-width: 550px
		@media screen and (min-width: 410px) and (max-width: $sm)
			font-size: 2.5rem !important
		@include max($sm)
			font-size: 1.8rem
	&__content h2
		@include max($sm)
			font-size: 1.6rem

.subtitle
	&__item
		max-width: 350px
		min-height: 50px

.button-form
	width: 260px
	height: 60px
	border-radius: 15px

.level
	&__decr
		border-left: 7px solid $success
	&__line
		width: 100%
		height: 50px
.gallery
	&__image
		position: relative
		min-height: 350px
		cursor: pointer
		@include max($sm)
			min-height: 500px
		&_one
			background: url('../images/home.jpg') no-repeat 50% 50%
			background-size: cover
		&_two
			background: url('../images/office.jpg') no-repeat 50% 50%
			background-size: cover
		&_three
			background: url('../images/restaurant.jpg') no-repeat 50% 50%
			background-size: cover
		&_four
			background: url('../images/magazine.jpg') no-repeat 50% 50%
			background-size: cover
		&__hidden


// hover gallery

.hidden
	width: 100%
.gallery
	&__image
		&:hover
			.hidden
				opacity: 1

.hidden
	opacity: 0
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	outline: 2px solid #fff
	outline-offset: -10px
	transition: all .4s ease-out
	background: rgba(0,0,0,.8)
	&__title
		display: inline-block
		border-bottom: 2px solid red



.install
	&__item-wrap
		width: 266px
		min-height: 400px
		background: $silver
	&__icon
		svg
			height: 250px
	&__text
		text-align: justify
		border-top: 4px solid $dark 

.examples
	height: 240px
	line-height: 240px
	background: $silver
	&__btn
		height: 120px
		font-size: 2rem
		border-radius: 15px

.info
	height: 300px
	background: url('../images/mobile.jpg') no-repeat 50% 50%
	background-size: cover
	&__text
		max-width: 435px
		background: rgba(255, 255, 255, 0.57)

.slider
	&__item
		box-shadow: rgba(154, 154, 154, 0.2) 0px 2px 1px 2px
		background: $silver


.slide
	&__image
		width: 100%
		

.contactus
	&__item
		background: $silver
	&__text
		min-height: 67px

.access
	height: 400px
	background: url('../images/lock.png') no-repeat 50% 50%
	background-size: cover
	&__text
		max-width: 650px
		background: rgba(0, 0, 0, 0.57)
		@include min($md)
			font-size: 3rem


.numbers
	min-height: 300px
	background: url('../images/1987.jpg') no-repeat 50% 50%
	background-size: cover
	&__row
		svg
			max-width: 200px
			text
				font-size: 3.5rem
				fill: #fff

	&__descr
		max-width: 300px
		margin: 0 auto
// анимации svg кругов

.circle circle
	stroke-dasharray: 630
	stroke-dashoffset: 630
	fill: rgba(0, 0, 0, 0)

.animate-go circle
	animation: strokeanim 3s ease-out
	animation-fill-mode: forwards

@keyframes strokeanim
	to
		stroke-dashoffset: 0
		fill: rgba(0, 0, 0, 0.5)

// схемы подключений

.scheme
	&__title
		max-width: 400px
		padding: 1rem
		background: $silver
	&__descr
		padding: 1rem
		background: $silver
	&__image-iso,
	&__image-ontop
		height: 364px
		background-position: 50% 50%
		background-repeat: no-repeat
		background-size: contain
		background-color: $success
	&__image-ontop
		height: 300px
		@include min($md)
			height: 500px
		@include min($lg)
			height: 680px
	&__yard-list
		margin: 0 auto
		background: $silver
		@include min($md)
			width: 50%

	ul
		list-style-type: square
		li
			font-weight: bold

.howmuch
	height: 230px
	background: url('../images/family.jpg') no-repeat 40% 45%
	background-size: cover
	&__text
		max-width: 520px
		background: rgba(255, 255, 255, 0.57)
		@include min($md)
			font-size: 3rem
.skud
	ul
		list-style: none
		padding: 0

.questions
	background: #f4f3f3
	&__row
		@include min($md)
			max-width: 900px
	&__card
		border: none
		cursor: pointer
		background: #f4f3f3
	&__btn
		flex-grow: 1
		flex-wrap: nowrap
		border: none
		text-align: left
		transition: all .3s ease-out
		cursor: pointer
		svg
			transition: all .3s ease-out
		&:active,
		&:link,
		&:visited
			border: none
			outline: none
			box-shadow: none
	&__collapse
		transition: all .3s ease-out

.arrow
	flex-grow: 0
	transform: scale(.7)
	&_active
		svg
			transform: rotate(90deg)

.maps
	min-height: 400px
	@include min($lg)
		position: relative
	&__modal
		@include min($lg)
			position: absolute
			top: 50px
			left: 50px
			z-index: 1
			width: 500px
			height: 320px
			padding: 2rem
			box-shadow: rgba(154, 154, 154, 0.2) 0px 2px 1px 2px
			background: #fff

footer
	height: 80px
	background: rgba(0, 0, 0, 0.8)
	color: #838383
	.box-logo	
		svg
			width: 110px
			height: 27px



















