@import includes/variables.sass
$font-family-base: 'Helvetica Neue'
html
	font-family: 'Helvetica Neue' !important
.header
	position: relative
	// border: 1px solid $success
	background: url('../images/cam.jpg') no-repeat 50% 50%
	background-size: cover
	&__filter
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		background: #000
		opacity: .7

.navbar
	margin-bottom: 200px

.title
	margin-bottom: 150px
	&__content h1
		@include max($sm)
			font-size: 1.8rem
	&__content h2
		@include max($sm)
			font-size: 1.6rem

.subtitle
	&__item
		max-width: 350px
		min-height: 50px

.button-form
	width: 300px
	height: 60px
	border-radius: 15px

.level
	&__decr
		border-left: 7px solid $success
	&__line
		width: 100%
		height: 50px
.gallery
	&__image
		min-height: 350px
		&_one
			// border: 1px solid $success
			background: url('../images/home.jpg') no-repeat 50% 50%
			background-size: cover
		&_two
			// border: 1px solid $success
			background: url('../images/office.jpg') no-repeat 50% 50%
			background-size: cover
		&_three
			// border: 1px solid $success
			background: url('../images/restaurant.jpg') no-repeat 50% 50%
			background-size: cover
		&_four
			// border: 1px solid $success
			background: url('../images/magazine.jpg') no-repeat 50% 50%
			background-size: cover
.install
	&__icon
		svg
			height: 148px
	&__text
		text-align: justify
		border-top: 4px solid $dark 

.info
	height: 300px
	// border: 1px solid $success
	background: url('../images/mobile.jpg') no-repeat 50% 50%
	background-size: cover
	&__text
		max-width: 435px
		background: rgba(255, 255, 255, 0.57)

.slider
	&__item
		box-shadow: rgba(154, 154, 154, 0.2) 0px 2px 1px 2px
		background: $silver


.slide
	&__image
		width: 100%
		

.howmuch
	height: 230px
	// border: 1px solid $success
	background: url('../images/family.jpg') no-repeat 40% 30%
	background-size: cover
	&__text
		max-width: 520px
		background: rgba(255, 255, 255, 0.57)
		@include min($md)
			font-size: 3rem

.contactus
	&__item
		background: $silver

.numbers
	min-height: 300px
	background: url('../images/1987.jpg') no-repeat 50% 50%
	background-size: cover

.questions
	background: $silver
	&__row
		@include min($md)
			max-width: 900px
	&__card
		border: none
		cursor: pointer
		background: $silver
	&__btn
		flex-grow: 1
		flex-wrap: nowrap
		border: none
		text-align: left
		cursor: pointer
		&:active,
		&:link,
		&:visited
			border: none
			outline: none
			box-shadow: none
		// svg
		// 	transform: rotate(90deg)
.arrow
	flex-grow: 0

.maps
	height: 640px


.maps
	@include min($lg)
		position: relative
	&__modal
		@include min($lg)
			position: absolute
			top: 50px
			left: 50px
			z-index: 1
			width: 500px
			height: 320px
			padding: 2rem
			box-shadow: rgba(154, 154, 154, 0.2) 0px 2px 1px 2px
			background: #fff






















