header.header.header_index
	nav.header__nav
		a.logo(href="")
			//- img(src="img/aircookiess_logo.png" alt="Логотип" title="Логотип aircookiess.ru")
		.header__list
			ul.nav
				li.nav__link
					a(href='#js-services') Наши услуги
				li.nav__link
					a(href="#js-slider") Наши раб
				li.nav__link
					a(href="#js-steps") Достижения
				li.nav__link
					a(href="#js-form") Продвижение
		//- .block-social
		//- 	a.block-social__element.vk(href="#") 
		//- 		include ../images/vk.svg
		//- 	a.block-social__element.im(href="#")
		//- 		include ../images/instagram.svg

