<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		title bonusip
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
		link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS", crossorigin="anonymous")
		link(rel="stylesheet", href="css/build.css")
	body
		header.font-weight-bold.header.text-light
			nav.navbar.navbar-expand-lg.px-md-5.text-nowrap.navbar-dark.fixed-top
				a.navbar-brand.m-0(href="index.html" title="Лого")
					img(src="images/logo.svg", alt="логотип сайта" title="логотип сайта")
				a.navbar-text.ml-sm-n5.ml-lg-0.order-lg-last.text-success(href="tel:89991234567" title="Номер телефона") 8 (999) 123-45-67
				button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent')
					span.navbar-toggler-icon
				#navbarSupportedContent.collapse.navbar-collapse.mr-lg-4.mx-auto.mx-lg-0.justify-content-end
					ul.navbar-nav.text-center
						li.nav-item.active
							a.nav-link(href="#" title="Главная") Главная
						li.nav-item
							a.nav-link(href="#" title="Где установить") Где установить
						li.nav-item
							a.nav-link(href="#" title="СКУД") СКУД
						li.nav-item 
							a.nav-link(href="#" title="Вопросы") Вопросы
						li.nav-item
							a.nav-link(href="#" title="Контакты") Контакты
		.container-fluid.title.text-light
			.title__filter
			.title__main.row.no-gutters.justify-content-center.justify-content-xl-end
				.col-11.col-sm-11.col-md-8.col-xl-6.text-center.text-xl-left
					.title__content.d-inline-block.text-left
						h1.px-3.d-inline-block.bg-success.display-4 Комплексное видеонаблюдение
						.w-100
						h2.px-3.d-inline-block под ключ
			.subtitle.container.mb-5.justify-content-center
				.row
					.col-12.col-md-4.mb-5.mb-md-0
						.subtitle__item.row.mx-auto
							.col-3
								include images/asset1.svg
							.col-9.border-left.border-success Индивидуальный подход к каждому клиенту
					.col-12.col-md-4.mb-5.mb-md-0
						.subtitle__item.row.mx-auto
							.col-3
								include images/asset3.svg
							.col-9.border-left.border-success Обучение после установки
					.col-12.col-md-4.mb-5.mb-md-0
						.subtitle__item.row.mx-auto
							.col-3
								include images/asset2.svg
							.col-9.border-left.border-success 1 год гарантии на работу и оборудование
			.container.pb-5
				.row.mb-5
					.col-12.text-center
						button.button-form.btn.btn-lg.btn-danger.rounded-5(type='button') Узнайте стоимость
		section.level.container.py-5.d-flex.align-items-center
			.row(style='width: 100%')
				.col-12.col-lg-6.mb-5.mb-lg-0
					h3.font-weight-bold Безопасность на новом уровне
					p.level__decr.pl-2.border-success Данным статистики, процент безопасности дома или объекта увеличивается, после установки видеонаблюдения. Владелец будет иметь возможность наблюдать за своим имуществом в любое время. Вся информация записанная камерами, будет храниться в безопасном от злоумышленников месте.
					p.level__decr.pl-2.border-danger Дома с установленной системой видеонаблюдения, грабители чаще обходят стороной. А страховые компании предоставляют пониженную страховую ставку.
				.col-12.col-lg-6.d-flex.align-items-center
					.level__animate.flex-grow-1
						p Стоимость страхования имущества до установки камер
						.level__progress.progress.mb-2
							.level__line.progress-bar.text-right.bg-danger(data-width="100")
								span.px-2 0%
						p Стоимость страхования имущества после установки камер
						.level__progress.progress
							.level__line.progress-bar.text-right.bg-success(data-width="60")
								span.px-2 0%
		section.gallery
			h2.mb-5.font-weight-bold.text-center Где установить видеонаблюдение?
			.container-fluid
				.row.mb-lg-3.justify-content-between
					.gallery__image.gallery__image_one.col-12.col-lg.mb-3.mb-lg-0.mr-lg-3.d-flex.justify-content-end.align-items-center
						p.h2.p-2.font-weight-bold.text-light.bg-success дом, квартира
						.hidden.px-4.px-sm-4.text-light.text-center
							p.h2.hidden__title.my-4.py-2.border-danger.text-center.font-weight-bold дом, квартира
							p.hidden__text.text-justify Видеонаблюдение в доме или в квартире позволит вам увеличить безопасность вашего жилья. Вы сможете следить за няней или другими посторонними людьми, которые находятся в вашем доме. И сделать это можно через смартфон или компьютер с доступом в интернет. В случае противоправных действий в вашей квартире, вы сможете воспользоваться видеозаписью с камер видеонаблюдения.
							button.btn.btn-lg.btn-danger.rounded-5(type='button') Схема установки 
					.gallery__image.gallery__image_two.col-12.col-lg.mb-3.mb-lg-0.d-flex.align-items-center.flex-grow-1
						h2.p-2.font-weight-bold.text-light.bg-success офис, предприятие
						.hidden.px-4.px-sm-4.text-light.text-center
							p.h2.hidden__title.my-4.py-2.border-danger.text-center.font-weight-bold офис, предприятие
							p.hidden__text.text-justify В любом офисном помещении или крупном предприятии установленные камеры видеонаблюдения, будут правой рукой для любого руководителя. Вы сможете наблюдать за своими подчинёнными. Выявлять недобросовестных работников. Анализировать поведение ваших сотрудников. И всегда, в режиме ONLINE следить за вашим бизнесом.
							button.btn.btn-lg.btn-danger.rounded-5(type='button') Схема установки
				.row.mb-5
					.gallery__image.gallery__image_three.col-12.col-lg.mr-lg-3.mb-3.mb-lg-0.d-flex.justify-content-end.align-items-center
						h2.p-2.font-weight-bold.text-light.bg-success ресторан, кафе, бар
						.hidden.px-4.px-sm-4.text-light.text-center
							p.h2.hidden__title.my-4.py-2.border-danger.text-center.font-weight-bold ресторан, кафе, бар
							p.hidden__text.text-justify Заведение с высокой посещаемостью людей - это главный кандидат для установки камер видеонаблюдения. Множество чрезвычайных ситуаций и возможных конфликтов можно избежать уже на начальной стадии. При помощи камер всегда легко доказать правду. Если у вас сеть заведений, тогда все камеры можно объединить в полноценную экосистему, имеющий доступ ко всем помещениям сразу.
							button.btn.btn-lg.btn-danger.rounded-5(type='button') Схема установки
					.gallery__image.gallery__image_four.col-12.col-lg.d-flex.align-items-center
						h2.p-2.font-weight-bold.text-light.bg-success склад, магазин
						.hidden.px-4.px-sm-4.text-light.text-center
							p.h2.hidden__title.my-4.py-2.border-danger.text-center.font-weight-bold склад, магазин
							p.hidden__text.text-justify Когда стоимость вашего имущества велика, камеры видеонаблюдения смогут обеспечить бдительный надзор. Благодаря разрешающей способности камер, даже самый маленький предмет будет заметен. Вы сможете одновременно охватить большие площади и вести постоянный контроль за ними.
							button.btn.btn-lg.btn-danger.rounded-5(type='button') Схема установки
		section.install
			h2.mb-5.font-weight-bold.text-center Установка видеонаблюдения
			.container
				.row.mb-5.justify-content-center.justify-content-md-around
					.install__item.col-12.col-md-6.col-xl-3.mb-4
						.install__item-wrap.mx-auto.p-2
							.install__icon.text-center
								include images/house.svg
							p.install__text.w-100.pt-4.border-dark Произведём анализ помещения для установки комплекса видеонаблюдения.
					.install__item.col-12.col-md-6.col-xl-3.mb-4
						.install__item-wrap.mx-auto.p-2
							.install__icon.text-center
								include images/lamp.svg
							p.install__text.w-100.pt-4.border-dark Подберём оборудование, которое будет удовлетворять всем необходимым требованиям.
					.install__item.col-12.col-md-6.col-xl-3.mb-4
						.install__item-wrap.mx-auto.p-2
							.install__icon.text-center
								include images/cogwheel.svg
							p.install__text.w-100.pt-4.border-dark Установим оборудование в заранее обговорённые сроки. Мы ценим ваше время!
					.install__item.col-12.col-md-6.col-xl-3.mb-4
						.install__item-wrap.mx-auto.p-2
							.install__icon.text-center
								include images/comp.svg
							p.install__text.w-100.pt-4.border-dark Произведём настройку оборудования и установку необходимых программ.
		.info.mb-5.d-flex.align-items-center
			.container
				h2.info__text.px-3.font-weight-bold.text-success Следите за своим домом из любой точки мира
		section.contactus.mb-5
			h2.mb-5.font-weight-bold.text-center Три причины обратиться к нам
			.container
				.row
					.col-12.mb-md-5
						.row
							p.contactus__item.col-12.col-md-2.m-0.p-0.d-flex.align-items-center.justify-content-center.display-4.text-center 01
							.contactus__text.col-12.col-md-10.py-1.py-md-0.m-0.d-flex.align-items-center.text-light.bg-success 
								span Низкая стоимость закупки оборудования.
					.col-12.mb-md-5
						.row.d-flex
							.contactus__text.col-12.col-md-10.py-1.py-md-0.m-0.d-flex.align-items-center.text-light.bg-success 
								span Мы устанавливаем только качественные камеры видеонаблюдения. Таких фирм как: Hikvision, Tantos, ,Dahua , Hivision, Ezviz, Rvi.
							p.contactus__item.col-12.col-md-2.m-0.p-0.d-flex.align-items-center.justify-content-center.order-first.order-md-0.display-4.text-center 02
					.col-12
						.row
							p.contactus__item.col-12.col-md-2.m-0.p-0.d-flex.align-items-center.justify-content-center.display-4.text-center 03
							.contactus__text.col-12.col-md-10.py-1.py-md-0.m-0.d-flex.align-items-center.text-light.bg-success 
								span Индивидуальный подход к каждому клиенту.
		section.examples.row.mb-5.no-gutters.justify-content-center.align-items-center
			a.col-10.col-md-8.col-lg-4.examples__btn.btn.btn-lg.btn-danger.d-flex.align-items-center.justify-content-center(href='https://vk.com') Примеры наших работ
		section.scheme.mb-5
			.container.mb-5
				.row.no-gutters.justify-content-between
					.col-md-4.col-lg-4.d-flex.align-items-center
						h3.scheme__title Видеонаблюдение в доме или квартире
					.col-md-7.col-lg-6.scheme__descr.px-3
						p.text-danger.font-weight-bold Особенности
						ul
							li Количество камер: от 4 до 8
							li Доступная цена
							li Доступ в режиме Online с любых устройств
							li Ночной режим съёмки камер
							li Запись отснятого изображения
			.row.mb-5.no-gutters
				.col-12.scheme__image-iso.js-image-load(data-small="../images/sheme_home_small.png" data-big="../images/sheme_home_big.png")
			.container.mb-5
				.row
					.col-12.mb-5.text-center
						h3 Установка видеонаблюдения в коттеджах и частных домах
					.col-12
						p Установка видеонаблюдения в коттедже или частных домах позволяет получить постоянный контроль за своей собственностью. Одним из главных плюсов является уменьшенная стоимость страховки. Страховые компании учитывают установленный комплекс видеонаблюдения и уменьшает стоимость страхования частной собственности.
			.row.mb-5.no-gutters
				.col-12.scheme__image-ontop(style="background-image: url('../images/sheme_cottage.png')")
			.container.mb-5
				.row.no-gutters.justify-content-between
					.col-md-4.col-lg-4.d-flex.align-items-center
						h3.scheme__title Видеонаблюдение в офисе или предприятии
					.col-md-7.col-lg-6.scheme__descr.px-3
						p.text-danger.font-weight-bold Особенности
						ul
							li Количество камер: от 7 до 15
							li Возможность записи звука
							li Доступ в режиме Online с любых устройств
							li Ночной режим съёмки камер
							li Запись отснятого изображения
			.row.mb-5.no-gutters
				.col-12.scheme__image-iso.js-image-load(data-small="../images/sheme_office_small.png" data-big="../images/sheme_office_big.png")
			.container.mb-5
				.row.no-gutters.justify-content-between
					.col-md-4.col-lg-4.d-flex.align-items-center
						h3.scheme__title Видеонаблюдение в ресторане, кафе, баре
					.col-md-7.col-lg-6.scheme__descr.px-3
						p.text-danger.font-weight-bold Особенности
						ul
							li Количество камер: от 12 до 20
							li Возможность подключения камер беспроводным способом
							li Обеспечение бесперебойного питания
							li Доступ в режиме Online с любых устройств
							li Ночной режим съёмки камер
							li Запись отснятого изображения
			.row.mb-5.no-gutters
				.col-12.scheme__image-iso.js-image-load(data-small="../images/sheme_coffee_small.png" data-big="../images/sheme_coffee_big.png")
			.container.mb-5
				.row.no-gutters.justify-content-between
					.col-md-4.col-lg-4.d-flex.align-items-center
						h3.scheme__title Видеонаблюдение в магазине, на складе
					.col-md-7.col-lg-6.scheme__descr.px-3
						p.text-danger.font-weight-bold Особенности
						ul
							li Количество камер от 20 и более
							li Охват больших площадей
							li Доступ в режиме Online с любых устройств
							li Ночной режим съёмки камер
							li Запись отснятого изображения
							li Охват больших площадей
			.row.mb-5.no-gutters
				.col-12.scheme__image-iso.js-image-load(data-small="../images/sheme_shop_small.png" data-big="../images/sheme_shop_big.png")
			.container.mb-5
				.row
					.col-12.mb-5.text-center
						h3 Установка видеонаблюдения на складе
					.col-md-12
						p Установка видеонаблюдения на складах - это правильный и обдуманный шаг. Не исключены спорные моменты в получении, хранении и отгрузке товара. Видеонаблюдение всегда позволяет выяснить и запечатлеть любое движение и нахождение товара на складском помещении. Множество проблем удаётся предотвратить уже на этапе изучения видеоматериала. Благодаря опыту и отзывам наших клиентов. Видеонаблюдение позволяет сэкономить за год намного больше, чем сама стоимость его установки.
						p Для установки видеокомплекса мы изучаем складское помещение и выявляем явные точки установки камер для охвата всей площади склада. Внутри помещения мы используем купольные камеры. Охватывается каждый въезд на погрузочной территории. Для этого мы используем цилиндрические камеры. В комнате оператора склада устанавливается купольная камера видеонаблюдения с микрофоном.
			.row.no-gutters.mb-5
				.col-12.scheme__image-ontop(style="background-image: url('../images/sheme_stock.png')")
			.howmuch.mb-5.d-flex.align-items-center
				.container
					h2.howmuch__text.ml-auto.px-3.display-md-4.font-weight-bold.text-right.text-danger Сколько стоит Ваша безопасность?
			.container.mb-5
				.row
					.col-12.mb-5.text-center
						h3 Установка видеонаблюдения в подъезде и на улице
					.col-md-12
						p Комплекс видеонаблюдения позволяет следить за подъездами в многоэтажных домах и прилегающей территорией. В подъезды устанавливаются купольные камеры. Всегда можно увидеть кто зашёл в подъезд и кто из него вышел. На столбах устанавливаются ЦИЛИНДРИЧЕСКИЕ камеры, охватывающие детскую площадку и парковку. Благодаря этому, родители смогут наблюдать за своими детьми на детских площадках. А автомобилисты всегда видеть свой автомобиль на парковке. Благодаря ночному режиму съёмки наблюдать за происходящим возможно круглые сутки. 
						p.mb-5 Во время установки все камеры подключаются к распределительному шкафу, который располагается в центральном подъезде. Благодаря ему обеспечивается бесперебойность питания камер и запись видео.
						.scheme__yard-list.p-3
							p.text-danger.font-weight-bold Используемое обрудование:
							ul
								li Камеры в подъездах - TSi-Dn425FP (2.8)
								li Камеры на столбах - TSi-Pe50VP (2.8-12)
								li Регистратор - TSr-NV08251
								li Объём памяти - 8 Тб
								li PoE свич (8 портов)
			.row.no-gutters
				.col-12.scheme__image-ontop.js-image-load(data-small="../images/sheme_yard_small.png" data-big="../images/sheme_yard_big.png")
		.access.mb-5.d-flex.align-items-center
			.container.font-weight-bold
				h2.access__text.ml-auto.px-3.font-weight-bold.text-sm-right.text-light Сигнализации, системы контроля доступом
		section.skud.mb-5.container
			h2.mb-5.font-weight-bold.text-center Система контроля и управления доступом (СКУД)
			p Система контроля и управления доступом - это автоматизированная система, в которую входят: камеры видеонаблюдения, замки с возможностью интерактивного доступа и большое количество охранных и пожаробезопасных датчиков. 
			p Благодаря этой системе Вы получаете полную идентификацию каждого человека, имеющего доступ на охраняемую территорию. Любое действие в системе будет фиксироваться в базе данных.
			h3 Системы контроля и управления доступом применяют для решения следующих задач:
			ul
				li #[i - круглосуточная идентификация сотрудников и транспортных средств;]
				li #[i - ведение информационной базы данных (собственных сотрудников, клиентов, иных посетителей);]
				li #[i - контроль рабочего графика с оперативной передачей исходных данных в бухгалтерию предприятия;]
				li #[i - автоматизация снятия/включения охранного режима; управление работой подсистем (видеофиксации, датчиков движения и др.);]
				li #[i - открывание блокировок дверей при получении соответствующих сигналов с датчиков пожарной сигнализации.]
			p Установка СКУД позволит вывести контроль вашего бизнеса на новый уровень.
		.numbers.d-flex.align-items-center
			.container
				.numbers__row.row.text-center.circle
					.col-12.col-sm-6.col-md-3.my-5.my-md-0 
						<svg viewbox="-15 -15 230 230"><circle  r="100" cx="100" cy="100" fill="none" stroke="#dc3545" stroke-width="30"/>
						<text x="100" y="100" fill="#fff" font-size="60" dominant-baseline="middle" text-anchor="middle" data-num="1856"></text> 
						</svg>
						p.numbers__descr.mt-2.py-1.bg-danger.text-light Установленных систем
					.col-12.col-sm-6.col-md-3.my-5.my-md-0 
						<svg viewbox="-15 -15 230 230"><circle  r="100" cx="100" cy="100" fill="none" stroke="#dc3545" stroke-width="30"/>
						<text x="100" y="100" fill="#fff" font-size="60" dominant-baseline="middle" text-anchor="middle" data-num="575"></text> 
						</svg>
						p.numbers__descr.mt-2.py-1.bg-danger.text-light Довольных клиентов
					.col-12.col-sm-6.col-md-3.my-5.my-md-0
						<svg viewbox="-15 -15 230 230"><circle  r="100" cx="100" cy="100" fill="none" stroke="#dc3545" stroke-width="30"/>
						<text x="100" y="100" fill="#fff" font-size="60" dominant-baseline="middle" text-anchor="middle" data-num="234"></text> 
						</svg>
						p.numbers__descr.mt-2.py-1.bg-danger.text-light Защищенных дома
					.col-12.col-sm-6.col-md-3.my-5.my-md-0
						<svg viewbox="-15 -15 230 230"><circle  r="100" cx="100" cy="100" fill="none" stroke="#dc3545" stroke-width="30"/>
						<text x="100" y="100" fill="#fff" font-size="60" dominant-baseline="middle" text-anchor="middle" data-num="63"></text> 
						</svg>
						p.numbers__descr.mt-2.py-1.bg-danger.text-light Взломов остановлено
		.questions
			.container
				.querstions__row.row.py-5#accordion.accordion.justify-content-center
					.col-12.questions__card.card.my-2.d-flex.flex-row.justify-content-between.border-bottom
						a.questions__btn.btn.pl-0.font-weight-bold(href="#one", data-toggle="collapse") Возможно распознать лицо или номер машины?
						a.questions__btn.btn.arrow(href="#one", data-toggle="collapse")
							include images/arrow.svg
					.questions__collapse.collapse#one(data-parent="#accordion")
							p.card-body.ml-2.ml-md-4 Благодаря высокому разрешению изображения Full HD, вы сможете разглядеть на видеозаписи как номер автомобиля, так и лица проходящих людей.
					.col-12.questions__card.card.my-2.d-flex.flex-row.justify-content-between.border-bottom
						a.questions__btn.btn.pl-0.font-weight-bold(href="#two", data-toggle="collapse") Возможно получить качественное изображение ночью?
						a.questions__btn.btn.arrow(href="#two", data-toggle="collapse")
							include images/arrow.svg
					.questions__collapse.collapse#two(data-parent="#accordion")
							p.card-body.ml-2.ml-md-4 В камерах видеонаблюдения присутствует функция записи видео в ночном режиме. Камера освещает объекты невидимыми для человеческого глаза лучами, что позволяет получить разборчивое изображение ночью.
					.col-12.questions__card.card.my-2.d-flex.flex-row.justify-content-between.border-bottom
						a.questions__btn.btn.pl-0.font-weight-bold(href="#three", data-toggle="collapse") Как ведёт себя камера при минусовых температурах?
						a.questions__btn.btn.arrow(href="#three", data-toggle="collapse")
							include images/arrow.svg
					.questions__collapse.collapse#three(data-parent="#accordion")
							p.card-body.ml-2.ml-md-4 Существуют камеры специально предназначенные для улицы. Они имеют повышенную защиту к высоким и низким температурам, а так же устойчивы к влаге. Благодаря таким камерам, вы сможете получать четкое изображение даже при температуре -50°C
					.col-12.questions__card.card.my-2.d-flex.flex-row.justify-content-between.border-bottom
						a.questions__btn.btn.pl-0.font-weight-bold(href="#four", data-toggle="collapse") С какого устройства можно посмотреть отснятое изображение? 
						a.questions__btn.btn.arrow(href="#four", data-toggle="collapse")
							include images/arrow.svg
					.questions__collapse.collapse#four(data-parent="#accordion")
							p.card-body.ml-2.ml-md-4 Благодаря ip видеонаблюдению, вы сможете в реальном времени получить изображение с камер на своём телефоне или обычном компьютере с доступом в интернет. Внутренняя память позволит посмотреть видео, отснятое ранее.
					.col-12.questions__card.card.my-2.d-flex.flex-row.justify-content-between.border-bottom
						a.questions__btn.btn.pl-0.font-weight-bold(href="#five", data-toggle="collapse") Видео с камер защищено от других?
						a.questions__btn.btn.arrow(href="#five", data-toggle="collapse")
							include images/arrow.svg
					.questions__collapse.collapse#five(data-parent="#accordion")
							p.card-body.ml-2.ml-md-4 Да! Доступ к системе видеонаблюдения имеете только вы! При установке видеонаблюдения, вам предоставят логин и пароль для доступа. Благодаря этому вы сможете войти в систему.
		.maps
			.maps__modal.container.mb-5.mb-lg-0
				.row.justify-content-center
					.col-12.pt-5.pt-lg-0
						h2 Бонус
						h4.mb-4 установка камер видеонаблюдения
						p Адрес: г. Сергиев Посад
						p Телефон: +7 (999) 123 45 67
						p Почта: admin@bonusip.ru
			<a href="https://yandex.ru/maps/?um=constructor%3A214ba2bdd8393e644ba80811221be3c8810dfb86158ddcad31d48f6f1247a240&amp;source=constructorStatic" target="_blank"><img src="https://api-maps.yandex.ru/services/constructor/1.0/static/?um=constructor%3A214ba2bdd8393e644ba80811221be3c8810dfb86158ddcad31d48f6f1247a240&amp;width=600&amp;height=400&amp;lang=ru_RU" alt="" style="border: 0;" /></a>
		footer.container-fluid
			.row.h-100.justify-content-between.align-items-center
				.col-4 
					p.m-0 &copy; 2019
				.col-8.col-sm-8.text-right
					span.mb-n4 Производство сайта
					span.box-logo.ml-3
						include images/boxproject.svg
		script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
		script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js", integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP", crossorigin="anonymous")
		script(src="js/build.js")