@font-face {
	font-family: GothamRounded;
	font-family-src: url("../fonts/gothamrounded-book-webfont.woff") format("woff");
	font-family-font-weight: normal;
	font-family-font-style: normal;
}

html {
	font-family: GothamRounded;
	color: #3e434f;
	font-size: 35px;
	font-weight: 300;
	line-height: 80px;
	text-align: left;
}

body {
	background-color: #f0efe9;
	color: #3e434f;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.note {
	display: none;
	position: relative;
	width: 850px;
	margin: 300px auto 300px;
	padding: 90px 108px 180px;
	-webkit-box-shadow: 0px 6px 15px 0px rgba(207, 211, 218, 0.35);
	        box-shadow: 0px 6px 15px 0px rgba(207, 211, 218, 0.35);
	background: #ffffff;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.note_visible {
	display: block;
}

.text {
	display: inline-block;
	padding-right: 108px;
}

.button {
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	width: 59px;
	height: 59px;
	border-radius: 50%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border: 7px solid #eef0f5;
}

.list {
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.list__item {
	position: relative;
	line-height: 1.7;
	margin-bottom: 70px;
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.list__item:hover {
	background: #fbfbfb;
	cursor: pointer;
}

.list__item:hover .button {
	border: 7px solid #50e3a4;
}

.list__item_checked .text {
	color: #ced0d7;
}

.list__item_checked .button {
	border: 7px solid #50e3a4;
	background: url("../images/checked.svg") no-repeat 50% 50%;
}

.new-task {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 180px;
	height: 180px;
	-webkit-transform: translate(-50%, 50%);
	        transform: translate(-50%, 50%);
	border-radius: 50%;
	font-size: 100px;
	line-height: 180px;
	text-align: center;
	-webkit-box-shadow: 0px 3px 10px 0px rgba(62, 192, 136, 0.8);
	        box-shadow: 0px 3px 10px 0px rgba(62, 192, 136, 0.8);
	-webkit-transition: all ease-out .3;
	transition: all ease-out .3;
	cursor: pointer;
	background-color: #50e3a4;
	color: #46be8b;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.new-task:hover {
	font-size: 105px;
	-webkit-box-shadow: 0px 3px 12px 1px rgba(62, 192, 136, 0.8);
	        box-shadow: 0px 3px 12px 1px rgba(62, 192, 136, 0.8);
}

.popup {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(80, 227, 164, 0.8);
}

.popup_active {
	display: block;
}

.popup__tab {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 850px;
	height: 453px;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	overflow: hidden;
	background-color: #ffffff;
	-webkit-box-shadow: 0px 6px 15px 0px rgba(207, 211, 218, 0.35);
	        box-shadow: 0px 6px 15px 0px rgba(207, 211, 218, 0.35);
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	        -webkit-overflow-scrolling: touch;
}

.popup__title {
	margin: 70px 0 30px;
	text-align: center;
}

.popup__form {
	width: 550px;
	margin: 0 auto;
}

.popup__close {
	position: absolute;
	top: 27px;
	right: 27px;
	width: 59px;
	height: 59px;
	cursor: pointer;
	background: url("../images/delete-button.png") no-repeat 50% 50%;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.form__task {
	width: 100%;
	border: 0;
	outline: 0;
	border-bottom: 3px solid #eef0f5;
}

.form__submit {
	display: block;
	width: 352px;
	height: 59px;
	margin: 50px auto 0;
	border-radius: 30px;
	outline: none;
	border: 0;
	font-size: .8rem;
	-webkit-box-shadow: 0px 3px 10px 0px rgba(62, 192, 136, 0.8);
	        box-shadow: 0px 3px 10px 0px rgba(62, 192, 136, 0.8);
	cursor: pointer;
	background-color: #50e3a4;
	color: #ffffff;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.form__submit:hover {
	-webkit-box-shadow: 0px 3px 11px 1px rgba(62, 192, 136, 0.8);
	        box-shadow: 0px 3px 11px 1px rgba(62, 192, 136, 0.8);
}
