.glide {
	position: relative;
	width: 100%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.glide * {
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}

.glide__track {
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
}

.glide__slides {
	position: relative;
	width: 100%;
	list-style: none;
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	        transform-style: preserve-3d;
	-ms-touch-action: pan-Y;
	    touch-action: pan-Y;
	overflow: hidden;
	padding: 0;
	white-space: nowrap;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: nowrap;
	    -ms-flex-wrap: nowrap;
	        flex-wrap: nowrap;
	will-change: transform;
	-webkit-overflow-scrolling: touch;
}

.glide__slides--dragging {
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.glide__slide {
	width: 100%;
	height: 100%;
	-webkit-flex-shrink: 0;
	    -ms-flex-negative: 0;
	        flex-shrink: 0;
	white-space: normal;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
}

.glide__slide a {
	-webkit-user-select: none;
	        user-select: none;
	-webkit-user-drag: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.glide__arrows {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.glide__bullets {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.glide--rtl {
	direction: rtl;
}

.glide__arrow {
	position: absolute;
	display: block;
	top: 50%;
	z-index: 2;
	color: white;
	text-transform: uppercase;
	padding: 9px 12px;
	background-color: transparent;
	border: 2px solid rgba(255, 255, 255, 0.5);
	border-radius: 4px;
	-webkit-box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
	        box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
	text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
	opacity: 1;
	cursor: pointer;
	-webkit-transition: opacity 150ms ease, border 300ms ease-in-out;
	transition: opacity 150ms ease, border 300ms ease-in-out;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	line-height: 1;
}

.glide__arrow:focus {
	outline: none;
}

.glide__arrow:hover {
	border-color: white;
}

.glide__arrow--left {
	left: 2em;
}

.glide__arrow--right {
	right: 2em;
}

.glide__arrow--disabled {
	opacity: 0.33;
}

.glide__bullets {
	position: absolute;
	z-index: 2;
	bottom: 2em;
	left: 50%;
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	list-style: none;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
}

.glide__bullet {
	background-color: rgba(255, 255, 255, 0.5);
	width: 9px;
	height: 9px;
	padding: 0;
	border-radius: 50%;
	border: 2px solid transparent;
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	cursor: pointer;
	line-height: 0;
	-webkit-box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
	        box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
	margin: 0 0.25em;
}

.glide__bullet:focus {
	outline: none;
}

.glide__bullet:hover, .glide__bullet:focus {
	border: 2px solid white;
	background-color: rgba(255, 255, 255, 0.5);
}

.glide__bullet--active {
	background-color: white;
}

.glide--swipeable {
	cursor: grab;
	cursor: -webkit-grab;
}

.glide--dragging {
	cursor: grabbing;
	cursor: -webkit-grabbing;
}

.bg-silver {
	background: #eaeaea;
}

html {
	font-family: 'Helvetica Neue' !important;
}

.navbar {
	background: rgba(0, 0, 0, 0.8);
}

.navbar-brand img {
	width: 80px;
}

.navbar-collapse {
	-webkit-transition: height .3s ease-out;
	transition: height .3s ease-out;
}

.title {
	position: relative;
	padding-top: 300px;
	background: url("../images/cam.jpg") no-repeat 50% 50%;
	background-size: cover;
}

.title__filter {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #000;
	opacity: .7;
}

.title__main {
	margin-bottom: 150px;
}

.subtitle__item {
	max-width: 350px;
	min-height: 50px;
}

.button-form {
	width: 260px;
	height: 60px;
	border-radius: 15px;
}

.level__decr {
	border-left: 7px solid #28a745;
}

.level__line {
	width: 100%;
	height: 50px;
}

.gallery__image {
	position: relative;
	min-height: 350px;
	cursor: pointer;
}

.gallery__image_one {
	background: url("../images/home.jpg") no-repeat 50% 50%;
	background-size: cover;
}

.gallery__image_two {
	background: url("../images/office.jpg") no-repeat 50% 50%;
	background-size: cover;
}

.gallery__image_three {
	background: url("../images/restaurant.jpg") no-repeat 50% 50%;
	background-size: cover;
}

.gallery__image_four {
	background: url("../images/magazine.jpg") no-repeat 50% 50%;
	background-size: cover;
}

.hidden {
	width: 100%;
}

.gallery__image:hover .hidden {
	opacity: 1;
}

.hidden {
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	outline: 2px solid #fff;
	outline-offset: -10px;
	-webkit-transition: all .4s ease-out;
	transition: all .4s ease-out;
	background: rgba(0, 0, 0, 0.8);
}

.hidden__title {
	display: inline-block;
	border-bottom: 2px solid red;
}

.install__icon svg {
	height: 148px;
}

.install__text {
	text-align: justify;
	border-top: 4px solid #343a40;
}

.info {
	height: 300px;
	background: url("../images/mobile.jpg") no-repeat 50% 50%;
	background-size: cover;
}

.info__text {
	max-width: 435px;
	background: rgba(255, 255, 255, 0.57);
}

.slider__item {
	-webkit-box-shadow: rgba(154, 154, 154, 0.2) 0px 2px 1px 2px;
	        box-shadow: rgba(154, 154, 154, 0.2) 0px 2px 1px 2px;
	background: #eaeaea;
}

.slide__image {
	width: 100%;
}

.howmuch {
	height: 230px;
	background: url("../images/family.jpg") no-repeat 40% 30%;
	background-size: cover;
}

.howmuch__text {
	max-width: 520px;
	background: rgba(255, 255, 255, 0.57);
}

.contactus__item {
	background: #eaeaea;
}

.access {
	height: 400px;
	background: url("../images/access.jpg") no-repeat 50% 50%;
	background-size: cover;
}

.access__text {
	max-width: 650px;
	background: rgba(0, 0, 0, 0.57);
}

.numbers {
	min-height: 300px;
	background: url("../images/1987.jpg") no-repeat 50% 50%;
	background-size: cover;
}

.numbers__row svg {
	max-width: 200px;
}

.numbers__descr {
	max-width: 300px;
	margin: 0 auto;
}

#circle {
	fill: none;
	fill-stroke: #dc3545 !important;
	fill-stroke-width: 30px;
}

.questions {
	background: #f4f3f3;
}

.questions__card {
	border: none;
	cursor: pointer;
	background: #f4f3f3;
}

.questions__btn {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	-webkit-flex-wrap: nowrap;
	    -ms-flex-wrap: nowrap;
	        flex-wrap: nowrap;
	border: none;
	text-align: left;
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out;
	cursor: pointer;
}

.questions__btn svg {
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.questions__btn:active, .questions__btn:link, .questions__btn:visited {
	border: none;
	outline: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.questions__collapse {
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.arrow {
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	    -ms-flex-positive: 0;
	        flex-grow: 0;
}

.arrow_active svg {
	-webkit-transform: rotate(90deg);
	        transform: rotate(90deg);
}

.maps {
	min-height: 400px;
}

footer {
	height: 80px;
	background: rgba(0, 0, 0, 0.8);
	color: #838383;
}

footer .box-logo svg {
	width: 110px;
	height: 27px;
}

@media screen and (min-width: 410px) and (max-width: 576px) {
	.title__content h1 {
		font-size: 2.5rem !important;
	}
}

@media only screen and (min-width: 576px) {
	.navbar-brand img {
		width: 150px;
	}
}

@media only screen and (min-width: 768px) {
	.howmuch__text {
		font-size: 3rem;
	}
	.access__text {
		font-size: 3rem;
	}
	.questions__row {
		max-width: 900px;
	}
}

@media only screen and (min-width: 992px) {
	.maps {
		position: relative;
	}
	.maps__modal {
		position: absolute;
		top: 50px;
		left: 50px;
		z-index: 1;
		width: 500px;
		height: 320px;
		padding: 2rem;
		-webkit-box-shadow: rgba(154, 154, 154, 0.2) 0px 2px 1px 2px;
		        box-shadow: rgba(154, 154, 154, 0.2) 0px 2px 1px 2px;
		background: #fff;
	}
}

@media only screen and (max-width: 576px) {
	.title {
		padding-top: 200px;
	}
	.title__main {
		margin-bottom: 100px;
	}
	.title__content h1 {
		font-size: 1.8rem;
	}
	.title__content h2 {
		font-size: 1.6rem;
	}
	.gallery__image {
		min-height: 500px;
	}
}
