.glide {
	position: relative;
	width: 100%;
	box-sizing: border-box;
}

.glide * {
	box-sizing: inherit;
}

.glide__track {
	overflow: hidden;
}

.glide__slides {
	position: relative;
	width: 100%;
	list-style: none;
	backface-visibility: hidden;
	transform-style: preserve-3d;
	touch-action: pan-Y;
	overflow: hidden;
	padding: 0;
	white-space: nowrap;
	display: flex;
	flex-wrap: nowrap;
	will-change: transform;
}

.glide__slides--dragging {
	user-select: none;
}

.glide__slide {
	width: 100%;
	height: 100%;
	flex-shrink: 0;
	white-space: normal;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
}

.glide__slide a {
	user-select: none;
	-webkit-user-drag: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.glide__arrows {
	-webkit-touch-callout: none;
	user-select: none;
}

.glide__bullets {
	-webkit-touch-callout: none;
	user-select: none;
}

.glide--rtl {
	direction: rtl;
}

.glide__arrow {
	position: absolute;
	display: block;
	top: 50%;
	z-index: 2;
	color: white;
	text-transform: uppercase;
	padding: 9px 12px;
	background-color: transparent;
	border: 2px solid rgba(255, 255, 255, 0.5);
	border-radius: 4px;
	box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
	text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
	opacity: 1;
	cursor: pointer;
	transition: opacity 150ms ease, border 300ms ease-in-out;
	transform: translateY(-50%);
	line-height: 1;
}

.glide__arrow:focus {
	outline: none;
}

.glide__arrow:hover {
	border-color: white;
}

.glide__arrow--left {
	left: 2em;
}

.glide__arrow--right {
	right: 2em;
}

.glide__arrow--disabled {
	opacity: 0.33;
}

.glide__bullets {
	position: absolute;
	z-index: 2;
	bottom: 2em;
	left: 50%;
	display: inline-flex;
	list-style: none;
	transform: translateX(-50%);
}

.glide__bullet {
	background-color: rgba(255, 255, 255, 0.5);
	width: 9px;
	height: 9px;
	padding: 0;
	border-radius: 50%;
	border: 2px solid transparent;
	transition: all 300ms ease-in-out;
	cursor: pointer;
	line-height: 0;
	box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
	margin: 0 0.25em;
}

.glide__bullet:focus {
	outline: none;
}

.glide__bullet:hover, .glide__bullet:focus {
	border: 2px solid white;
	background-color: rgba(255, 255, 255, 0.5);
}

.glide__bullet--active {
	background-color: white;
}

.glide--swipeable {
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

.glide--dragging {
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}

.bg-silver {
	background: #eaeaea;
}

html {
	font-family: 'Helvetica Neue' !important;
}

ol {
	list-style-type: square;
}

.navbar {
	background: rgba(0, 0, 0, 0.8);
}

.navbar-brand img {
	width: 80px;
}

@media only screen and (min-width: 576px) {
	.navbar-brand img {
		width: 150px;
	}
}

.navbar-collapse {
	transition: height .3s ease-out;
}

.title {
	position: relative;
	padding-top: 300px;
	background: url("../images/cam.jpg") no-repeat 50% 50%;
	background-size: cover;
}

@media only screen and (max-width: 576px) {
	.title {
		padding-top: 200px;
	}
}

.title__filter {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #000;
	opacity: .7;
}

.title__main {
	margin-bottom: 150px;
}

@media only screen and (max-width: 576px) {
	.title__main {
		margin-bottom: 100px;
	}
}

@media screen and (min-width: 410px) and (max-width: 576px) {
	.title__content h1 {
		font-size: 2.5rem !important;
	}
}

@media only screen and (max-width: 576px) {
	.title__content h1 {
		font-size: 1.8rem;
	}
}

@media only screen and (max-width: 576px) {
	.title__content h2 {
		font-size: 1.6rem;
	}
}

.subtitle__item {
	max-width: 350px;
	min-height: 50px;
}

.button-form {
	width: 260px;
	height: 60px;
	border-radius: 15px;
}

.level__decr {
	border-left: 7px solid #28a745;
}

.level__line {
	width: 100%;
	height: 50px;
}

.gallery__image {
	position: relative;
	min-height: 350px;
	cursor: pointer;
}

@media only screen and (max-width: 576px) {
	.gallery__image {
		min-height: 500px;
	}
}

.gallery__image_one {
	background: url("../images/home.jpg") no-repeat 50% 50%;
	background-size: cover;
}

.gallery__image_two {
	background: url("../images/office.jpg") no-repeat 50% 50%;
	background-size: cover;
}

.gallery__image_three {
	background: url("../images/restaurant.jpg") no-repeat 50% 50%;
	background-size: cover;
}

.gallery__image_four {
	background: url("../images/magazine.jpg") no-repeat 50% 50%;
	background-size: cover;
}

.hidden {
	width: 100%;
}

.gallery__image:hover .hidden {
	opacity: 1;
}

.hidden {
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	outline: 2px solid #fff;
	outline-offset: -10px;
	transition: all .4s ease-out;
	background: rgba(0, 0, 0, 0.8);
}

.hidden__title {
	display: inline-block;
	border-bottom: 2px solid red;
}

.install__icon svg {
	height: 148px;
}

.install__text {
	text-align: justify;
	border-top: 4px solid #343a40;
}

.examples {
	height: 240px;
	line-height: 240px;
	background: #eaeaea;
}

.examples__btn {
	height: 120px;
	font-size: 2rem;
	border-radius: 15px;
}

.info {
	height: 300px;
	background: url("../images/mobile.jpg") no-repeat 50% 50%;
	background-size: cover;
}

.info__text {
	max-width: 435px;
	background: rgba(255, 255, 255, 0.57);
}

.slider__item {
	box-shadow: rgba(154, 154, 154, 0.2) 0px 2px 1px 2px;
	background: #eaeaea;
}

.slide__image {
	width: 100%;
}

.howmuch {
	height: 230px;
	background: url("../images/family.jpg") no-repeat 40% 30%;
	background-size: cover;
}

.howmuch__text {
	max-width: 520px;
	background: rgba(255, 255, 255, 0.57);
}

@media only screen and (min-width: 768px) {
	.howmuch__text {
		font-size: 3rem;
	}
}

.contactus__item {
	background: #eaeaea;
}

.access {
	height: 400px;
	background: url("../images/access.jpg") no-repeat 50% 50%;
	background-size: cover;
}

.access__text {
	max-width: 650px;
	background: rgba(0, 0, 0, 0.57);
}

@media only screen and (min-width: 768px) {
	.access__text {
		font-size: 3rem;
	}
}

.numbers {
	min-height: 300px;
	background: url("../images/1987.jpg") no-repeat 50% 50%;
	background-size: cover;
}

.numbers__row svg {
	max-width: 200px;
}

.numbers__row svg text {
	font-size: 3.5rem;
	fill: #fff;
}

.numbers__descr {
	max-width: 300px;
	margin: 0 auto;
}

.circle circle {
	stroke-dasharray: 630;
	stroke-dashoffset: 630;
	fill: rgba(0, 0, 0, 0);
}

.animate-go circle {
	animation: strokeanim 3s ease-out;
	animation-fill-mode: forwards;
}

@keyframes strokeanim {
	to {
		stroke-dashoffset: 0;
		fill: rgba(0, 0, 0, 0.5);
	}
}

.scheme__title {
	max-width: 400px;
	padding: 1rem;
	background: #eaeaea;
}

.scheme__descr {
	padding: 1rem;
	background: #eaeaea;
}

.scheme__image-iso, .scheme__image-ontop {
	height: 364px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: #28a745;
}

.scheme__image-ontop {
	height: 300px;
}

@media only screen and (min-width: 768px) {
	.scheme__image-ontop {
		height: 500px;
	}
}

@media only screen and (min-width: 992px) {
	.scheme__image-ontop {
		height: 680px;
	}
}

.questions {
	background: #f4f3f3;
}

@media only screen and (min-width: 768px) {
	.questions__row {
		max-width: 900px;
	}
}

.questions__card {
	border: none;
	cursor: pointer;
	background: #f4f3f3;
}

.questions__btn {
	flex-grow: 1;
	flex-wrap: nowrap;
	border: none;
	text-align: left;
	transition: all .3s ease-out;
	cursor: pointer;
}

.questions__btn svg {
	transition: all .3s ease-out;
}

.questions__btn:active, .questions__btn:link, .questions__btn:visited {
	border: none;
	outline: none;
	box-shadow: none;
}

.questions__collapse {
	transition: all .3s ease-out;
}

.arrow {
	flex-grow: 0;
	transform: scale(0.7);
}

.arrow_active svg {
	transform: rotate(90deg);
}

.maps {
	min-height: 400px;
}

@media only screen and (min-width: 992px) {
	.maps {
		position: relative;
	}
}

@media only screen and (min-width: 992px) {
	.maps__modal {
		position: absolute;
		top: 50px;
		left: 50px;
		z-index: 1;
		width: 500px;
		height: 320px;
		padding: 2rem;
		box-shadow: rgba(154, 154, 154, 0.2) 0px 2px 1px 2px;
		background: #fff;
	}
}

footer {
	height: 80px;
	background: rgba(0, 0, 0, 0.8);
	color: #838383;
}

footer .box-logo svg {
	width: 110px;
	height: 27px;
}
