.bg-silver {
	background: #eaeaea;
}

html {
	font-family: 'Helvetica Neue' !important;
}

.navbar {
	background: rgba(0, 0, 0, 0.8);
}

.navbar-brand img {
	width: 80px;
}

@media only screen and (min-width: 576px) {
	.navbar-brand img {
		width: 150px;
	}
}

.navbar-collapse {
	transition: height .3s ease-out;
}

.title {
	position: relative;
	padding-top: 300px;
	background: url("../images/cam.jpg") no-repeat 50% 50%;
	background-size: cover;
}

@media only screen and (max-width: 576px) {
	.title {
		padding-top: 200px;
	}
}

.title__filter {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #000;
	opacity: .7;
}

.title__main {
	margin-bottom: 150px;
}

@media only screen and (max-width: 576px) {
	.title__main {
		margin-bottom: 100px;
	}
}

@media screen and (min-width: 410px) and (max-width: 576px) {
	.title__content h1 {
		font-size: 2.5rem !important;
	}
}

@media only screen and (max-width: 576px) {
	.title__content h1 {
		font-size: 1.8rem;
	}
}

@media only screen and (max-width: 576px) {
	.title__content h2 {
		font-size: 1.6rem;
	}
}

.subtitle__item {
	max-width: 350px;
	min-height: 50px;
}

.button-form {
	width: 260px;
	height: 60px;
	border-radius: 15px;
}

.level__decr {
	border-left: 7px solid #28a745;
}

.level__line {
	width: 100%;
	height: 50px;
}

.gallery__image {
	position: relative;
	min-height: 350px;
	cursor: pointer;
}

@media only screen and (max-width: 576px) {
	.gallery__image {
		min-height: 500px;
	}
}

.gallery__image_one {
	background: url("../images/home.jpg") no-repeat 50% 50%;
	background-size: cover;
}

.gallery__image_two {
	background: url("../images/office.jpg") no-repeat 50% 50%;
	background-size: cover;
}

.gallery__image_three {
	background: url("../images/restaurant.jpg") no-repeat 50% 50%;
	background-size: cover;
}

.gallery__image_four {
	background: url("../images/magazine.jpg") no-repeat 50% 50%;
	background-size: cover;
}

.hidden {
	width: 100%;
}

.gallery__image:hover .hidden {
	opacity: 1;
}

.hidden {
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	outline: 2px solid #fff;
	outline-offset: -10px;
	transition: all .4s ease-out;
	background: rgba(0, 0, 0, 0.8);
}

.hidden__title {
	display: inline-block;
	border-bottom: 2px solid red;
}

.install__icon svg {
	height: 148px;
}

.install__text {
	text-align: justify;
	border-top: 4px solid #343a40;
}

.info {
	height: 300px;
	background: url("../images/mobile.jpg") no-repeat 50% 50%;
	background-size: cover;
}

.info__text {
	max-width: 435px;
	background: rgba(255, 255, 255, 0.57);
}

.slider__item {
	box-shadow: rgba(154, 154, 154, 0.2) 0px 2px 1px 2px;
	background: #eaeaea;
}

.slide__image {
	width: 100%;
}

.howmuch {
	height: 230px;
	background: url("../images/family.jpg") no-repeat 40% 30%;
	background-size: cover;
}

.howmuch__text {
	max-width: 520px;
	background: rgba(255, 255, 255, 0.57);
}

@media only screen and (min-width: 768px) {
	.howmuch__text {
		font-size: 3rem;
	}
}

.contactus__item {
	background: #eaeaea;
}

.access {
	height: 400px;
	background: url("../images/access.jpg") no-repeat 50% 50%;
	background-size: cover;
}

.access__text {
	max-width: 650px;
	background: rgba(0, 0, 0, 0.57);
}

@media only screen and (min-width: 768px) {
	.access__text {
		font-size: 3rem;
	}
}

.numbers {
	min-height: 300px;
	background: url("../images/1987.jpg") no-repeat 50% 50%;
	background-size: cover;
}

.questions {
	background: #f4f3f3;
}

@media only screen and (min-width: 768px) {
	.questions__row {
		max-width: 900px;
	}
}

.questions__card {
	border: none;
	cursor: pointer;
	background: #f4f3f3;
}

.questions__btn {
	flex-grow: 1;
	flex-wrap: nowrap;
	border: none;
	text-align: left;
	cursor: pointer;
}

.questions__btn:active, .questions__btn:link, .questions__btn:visited {
	border: none;
	outline: none;
	box-shadow: none;
}

.questions__collapse {
	transition: all .3s ease-out;
}

.arrow {
	flex-grow: 0;
}

.maps {
	min-height: 400px;
}

@media only screen and (min-width: 992px) {
	.maps {
		position: relative;
	}
}

@media only screen and (min-width: 992px) {
	.maps__modal {
		position: absolute;
		top: 50px;
		left: 50px;
		z-index: 1;
		width: 500px;
		height: 320px;
		padding: 2rem;
		box-shadow: rgba(154, 154, 154, 0.2) 0px 2px 1px 2px;
		background: #fff;
	}
}

footer {
	height: 80px;
	background: #C4C4C4;
	color: #838383;
}

footer .box-logo svg {
	width: 110px;
	height: 27px;
}
